@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green:#283618; 
  --olive:#606c38; 
  --cream:#f7f5e5; 
  --amber:#dda15e; 
  --burnt:#bc6c25;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cream);
  color: var(--green);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}